<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="ribbon-content.css">
</head>
<body>
<center>
    <h1 class="ribbon">
        <strong class="ribbon-content">List Product</strong>
    </h1>
    <a href="/product/create">Add new product</a><br>
<table border="1px">
    <tr style="background-color: yellow">
        <td>Name</td>
        <td>Price</td>
        <td>Description</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    <th:block th:each = "s:${listProduct}">
    <tr>
        <td th:text="${s.name}"></td>
        <td th:text="${s.price}"></td>
        <td th:text="${s.description}"></td>
        <td><a th:href="@{/product/edit/{id}(id=${s.id})}"> Sửa</a></td>
        <td><a th:href="@{/product/delete/{id}(id=${s.id})}"> Xóa</a></td>
    </tr>
    </th:block>
</table>
</center>
</body>
</html>